#!/usr/bin/env bash

#Ask to Confirm before continue
function confirm() {
  echo "Are you sure you want to $@? ( Yes/No y/n )"
  read answer
  local lAnswer=$(echo $answer | tr '[:upper:]' '[:lower:]')
  if [ "$lAnswer" == "yes" ] || [ "$lAnswer" == "y" ]; then
    return 0
  else
    return 1
  fi
}

#checks if package is installed if not then installs it
function chk_package() {
  for arg in $@; do
    if ! dpkg -s "$arg" >/dev/null 2>&1; then
      sudo apt install -y $arg
    fi
  done
}

#install Old School RuneScape from official site it requires root privliages, default-jre and msitools.
function install_osrs() {
  local tmpDir="/tmp/osrs"
  chk_package default-jre msitools
  if [ -e $tmpDir ]; then
    rm -rf $tmpDir
    mkdir $tmpDir
  else
    mkdir $tmpDir
  fi
  wget -O $tmpDir/OldSchool.msi http://www.runescape.com/downloads/oldschool.msi
  msiextract $tmpDir/OldSchool.msi -C $tmpDir
  sudo cp $tmpDir/jagexlauncher/jagexlauncher/bin/jagexappletviewer.jar /usr/local/bin/jagexappletviewer.jar
  sudo cp $tmpDir/jagexlauncher/jagexlauncher/oldschool/jagexappletviewer.png /usr/local/share/jagexappletviewer.png
  sudo chmod 755 /usr/local/bin/jagexappletviewer.jar
  rm -rf $tmpDir/
}

function dfiles() {
  for arg in $@; do
    if [ $arg == "update" ] || [ $arg == "-u" ]; then
      mv -f $HOME/Dotfiles $HOME/tmpDotfiles
      echo "files moved to tmp"
      if ! git clone $DFileRepo; then #$DFileRepo in .localdf
        mv -f $HOME/tmpDotfiles $HOME/Dotfiles
        echo "Something went wrong with the github clone. Files restored"
      else
        sudo rm -r $HOME/tmpDotfiles
        echo "Dotfiles updated successfully"
      fi
    elif [ $arg == "remove" ] || [ $arg == "-r" ]; then
      if confirm Remove Dotfiles; then
        for dFile in $HOME/.{aliases,bash_profile,bashrc,functions,profile,vimrc}; do
          sudo rm $dFile
        done
        sudo rm -r $HOME/Dotfiles && echo "Dotfiles successfully removed"
        if [ -f $HOME/OriginalDotFiles ]; then
          mv -v $HOME/OriginalDotFiles/* $HOME/ && echo "Original dotfiles successfully restored."
        fi
      fi
    fi
  done
}
